@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot');
  src: url('../font/fontello.eot') format('embedded-opentype'),
       url('../font/fontello.woff2') format('woff2'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('../font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92514648#fontello') format('svg');
  }
}
*/
 
 [class^="zricon-"]:before, [class*=" zricon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.zricon-heart-1:before { content: '\e800'; } /* '' */
.zricon-heart-empty:before { content: '\e801'; } /* '' */
.zricon-star:before { content: '\e802'; } /* '' */
.zricon-star-empty:before { content: '\e803'; } /* '' */
.zricon-edit:before { content: '\e804'; } /* '' */
.zricon-calendar-empty-1:before { content: '\e805'; } /* '' */
.zricon-mail:before { content: '\e806'; } /* '' */
.zricon-check:before { content: '\e807'; } /* '' */
.zricon-calendar-1:before { content: '\e808'; } /* '' */
.zricon-top:before { content: '\e809'; } /* '' */
.zricon-download:before { content: '\e80a'; } /* '' */
.zricon-arrow-down:before { content: '\e80b'; } /* '' */
.zricon-arrow-up:before { content: '\e80c'; } /* '' */
.zricon-add-cycle:before { content: '\e80d'; } /* '' */
.zricon-add-circle:before { content: '\e80e'; } /* '' */
.zricon-add-square:before { content: '\e80f'; } /* '' */
.zricon-help-circled:before { content: '\e810'; } /* '' */
.zricon-add-square-empty:before { content: '\e811'; } /* '' */
.zricon-bookmark:before { content: '\e812'; } /* '' */
.zricon-add:before { content: '\e813'; } /* '' */
.zricon-close-circle-empty:before { content: '\e814'; } /* '' */
.zricon-close-circle:before { content: '\e815'; } /* '' */
.zricon-close:before { content: '\e816'; } /* '' */
.zricon-copy-empty:before { content: '\e817'; } /* '' */
.zricon-copy:before { content: '\e818'; } /* '' */
.zricon-doc-empty:before { content: '\e819'; } /* '' */
.zricon-doc:before { content: '\e81a'; } /* '' */
.zricon-comment:before { content: '\e81b'; } /* '' */
.zricon-chat:before { content: '\e81c'; } /* '' */
.zricon-heart-empty-1:before { content: '\e81d'; } /* '' */
.zricon-home:before { content: '\e81e'; } /* '' */
.zricon-zricon-heart:before { content: '\e81f'; } /* '' */
.zricon-home-empty:before { content: '\e820'; } /* '' */
.zricon-trash-empty:before { content: '\e821'; } /* '' */
.zricon-left-circle:before { content: '\e822'; } /* '' */
.zricon-folder:before { content: '\e823'; } /* '' */
.zricon-folder-open:before { content: '\e824'; } /* '' */
.zricon-right-circle:before { content: '\e825'; } /* '' */
.zricon-user:before { content: '\e826'; } /* '' */
.zricon-right-circle-empty:before { content: '\e827'; } /* '' */
.zricon-left-empty:before { content: '\e828'; } /* '' */
.zricon-calendar:before { content: '\e829'; } /* '' */
.zricon-ok-circle-empty:before { content: '\e82a'; } /* '' */
.zricon-ok-circle:before { content: '\e82b'; } /* '' */
.zricon-right-circle-empty-1:before { content: '\e82c'; } /* '' */
.zricon-arrow-right:before { content: '\e82d'; } /* '' */
.zricon-arrow-left:before { content: '\e82e'; } /* '' */
.zricon-ok:before { content: '\e82f'; } /* '' */
.zricon-delete-empty:before { content: '\e830'; } /* '' */
.zricon-search-empty:before { content: '\e831'; } /* '' */
.zricon-classify-empty:before { content: '\e832'; } /* '' */
.zricon-search:before { content: '\e833'; } /* '' */
.zricon-setting-empty:before { content: '\e834'; } /* '' */
.zricon-settting:before { content: '\e835'; } /* '' */
.zricon-star-empty-1:before { content: '\e836'; } /* '' */
.zricon-star-1:before { content: '\e837'; } /* '' */
.zricon-user-empty:before { content: '\e838'; } /* '' */
.zricon-edit-1:before { content: '\e839'; } /* '' */
.zricon-spin2:before { content: '\e851'; } /* '' */
.zricon-spin3:before { content: '\e852'; } /* '' */
.zricon-spin5:before { content: '\e854'; } /* '' */
.zricon-spin6:before { content: '\e855'; } /* '' */
.zricon-link-ext:before { content: '\f08e'; } /* '' */
.zricon-check-empty:before { content: '\f096'; } /* '' */
.zricon-bookmark-empty:before { content: '\f097'; } /* '' */
.zricon-mail-alt:before { content: '\f0e0'; } /* '' */
.zricon-comment-empty:before { content: '\f0e5'; } /* '' */
.zricon-chat-empty:before { content: '\f0e6'; } /* '' */
.zricon-doc-text:before { content: '\f0f6'; } /* '' */
.zricon-plus-squared:before { content: '\f0fe'; } /* '' */
.zricon-angle-left:before { content: '\f104'; } /* '' */
.zricon-angle-right:before { content: '\f105'; } /* '' */
.zricon-angle-up:before { content: '\f106'; } /* '' */
.zricon-angle-down:before { content: '\f107'; } /* '' */
.zricon-folder-empty:before { content: '\f114'; } /* '' */
.zricon-folder-open-empty:before { content: '\f115'; } /* '' */
.zricon-help:before { content: '\f128'; } /* '' */
.zricon-calendar-empty:before { content: '\f133'; } /* '' */
.zricon-minus-squared:before { content: '\f146'; } /* '' */
.zricon-minus-squared-alt:before { content: '\f147'; } /* '' */
.zricon-pencil-squared:before { content: '\f14b'; } /* '' */
.zricon-link-ext-alt:before { content: '\f14c'; } /* '' */
.zricon-doc-text-inv:before { content: '\f15c'; } /* '' */
.zricon-plus-squared-alt:before { content: '\f196'; } /* '' */
.zricon-trash:before { content: '\f1f8'; } /* '' */
.zricon-toggle-off:before { content: '\f204'; } /* '' */
.zricon-toggle-on:before { content: '\f205'; } /* '' */
.zricon-envelope-open:before { content: '\f2b6'; } /* '' */
.zricon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.zricon-address-card:before { content: '\f2bb'; } /* '' */
.zricon-address-card-o:before { content: '\f2bc'; } /* '' */
.zricon-user-circle:before { content: '\f2bd'; } /* '' */
.zricon-user-circle-o:before { content: '\f2be'; } /* '' */